/* Reset and Global Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Container Styles */
.container-fluid {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container-fluid img{
    width: 10%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.container-fluid h4 {
    font-weight: bolder;
    color: #ffffff;
}
.container-fluid h1{
    color: #1BCE94;
    text-shadow: 2px 6px 4px #fff;
    margin-left: auto;
    margin-right: auto;
}
.container-fluid .section-1{
    margin-right: 20%;

}

.card {
    margin-top: 150px !important;
    max-width: 900px; 
    margin-left: auto; 
    margin-right: auto;
    padding-bottom: 20px;
}
.button-search {
    background: #1BCE94;
    color: #fff;
}
.button-search:hover{
    background: #0b543d;
    color: #fff;
}
.button-add{
    background: #0D6EFD;
    color: #fff;
}
.button-add:hover{
    background: #052351;
    color: #fff;
}
.button-submit{
    background: #1BCE94;
    color: #fff;
}
.button-submit:hover{
    background: #0b543d;
    color: #fff;
}
.button-update{
    background: #0D6EFD;
    color: #fff;
}
.button-update:hover{
    background: #052351;
    color: #fff;
}
.button-close{
    background: #858e98;
    color: #fff;
}
.button-close:hover{
    background: #565c63;
    color: #fff;
}
.button-print{
    background: #1BCE94;
    color: #fff;
}
.button-print:hover{
    background: #0b543d;
    color: #fff;
}

/* Card and Table Styles */
.card-header {
    background: #1BCE94;
}

.table-con {
    margin-top: 20px;
    max-height: 300px;
    overflow-y: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-table {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #4bd852;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
.modal-table{
    height: 100%;
    width: 100%;
}
/* Section Styles */
.section-1, .section-2 {
    width: 100%;
    flex: 1;
    margin: 0;      
    padding: 0;      
}
/* Background Colors for Sections */
#section-1 {
    background-color: #F1F2F6;
    border-radius: 0 60px 60px 0;
    padding: 0 5%;
}
#section-1 h3{
    font-weight: bold;
    color: #1BCE94;
    text-shadow: 2px 6px 4px #fff;
}
#section-1 p{
    font-size: 30px;
}

#section-2 {
    background-color: #fff;
    
}

/* Section 2 Inner Styles */
.section-2 .text-center img {
    margin-top: 0;
    margin-left: 30px;
    width: 320px;
}

.section-2 p {
    margin-bottom: 0;
    margin-left: 30px;
}
.modal-header{
    background-color: #1BCE94;
  }
  .modal-header h5{
    color: #fff;
    font-weight: 700;
}
.logout:hover {
    text-decoration: none;
    color: #dc3545;
}
.form-control {
    box-shadow: 0px 5px 0 #1BCE94;
  } 