body {
    padding-top: 56px; 
    padding-left: 200px; 
}
/* .container-fluid{
  margin-left: auto;
} */
.container-fluid h4 {
  font-weight: bolder;
  color: #ffffff;
  margin-left: 10px;
  margin-top: 5px;
}
.sidebar {
    box-shadow: 3px 3px 0 0 #F1F2F6;
    margin-top: 10px;
    position: fixed;
    top: 56px; 
    left: 0;
    width: 200px;
    height: 100%;
    overflow-y: auto; 
    z-index: 1000; 
}
.content {
    padding: 20px;
}
.custom-bg-color {
  background-color: #fff;
}
.navbar a{
  color: #1BCE94;
}  
.modal-header{
  background-color: #1BCE94;
}
.modal-header h5{
  color: #fff;
  font-weight: 700;
}
.sidebar a {
    display: block;
    color: black;
    padding: 20px;
    text-decoration: none;
}
.sidebar i{
    margin-right: 10px;
}
  
.sidebar a:hover:not(.active) {
  background-color: #076f10;
  color: white;
}
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}
.logout:hover {
  text-decoration: none;
  color: #dc3545;
}
.card {
  max-width: 900px; 
  margin-left: auto; 
  margin-right: auto;
  padding-bottom: 20px;
}
.card-header {
  background: #1BCE94 !important;
}
.form-control {
  box-shadow: 0px 5px 0 #1BCE94;
}
.button-search {
  background: #1BCE94 !important;
  color: #fff !important;
}
.button-search:hover{
  background: #0b543d !important;
  color: #fff !important;
}
/* Card and Table Styles */
.card-header {
  background: #1BCE94;
}

.table-con {
  max-height: 300px;
  overflow-y: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  } 